absl-py==1.0.0
aniso8601==9.0.1
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
bleach==4.1.0
CacheControl==0.12.6
cachetools==5.0.0
cffi==1.15.0
chardet==4.0.0
click==8.1.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==37.0.0
cycler==0.11.0
distlib==0.3.4
distro==1.7.0
Flask==2.1.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
flatbuffers==2.0.6
fonttools==4.33.3
gast==0.3.3
google-auth==1.34.0
google-auth-oauthlib==0.5.1
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.45.2
h5py==3.6.0
html5lib==1.1
idna==3.3
imbalanced-learn==0.9.1
importlib-metadata==4.8.1
itsdangerous==2.1.2
Jinja2==3.0.3
joblib==1.1.0
keras @ file:///build/python-keras/src/keras-2.8.0-py2.py3-none-any.whl
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
more-itertools==8.12.0
msgpack==1.0.3
numpy==1.22.3
oauthlib==3.2.0
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==21.3
pandas==1.4.2
pep517==0.12.0
Pillow==9.1.0
ply==3.11
progress==1.6
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.2
pycparser==2.21
pydot==1.4.2
pynvim==0.4.3
pyOpenSSL==22.0.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
resolvelib==0.5.5
retrying==1.3.3
rsa==4.8
scikit-learn==1.1.0
scipy==1.8.0
six==1.16.0
tensorboard==2.8.0
tensorboard-data-server @ file:///tmp/tensorboard_data_server-0.7.0a0-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///build/python-tensorboard_plugin_wit/src/tensorboard_plugin_wit-1.8.1/wit-pip/release/dist/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorflow @ file:///build/tensorflow/src/tmp/tensorflow-2.8.0-cp310-cp310-linux_x86_64.whl
tensorflow-estimator @ file:///build/python-tensorflow-estimator/src/estimator_pip/tensorflow_estimator-2.8.0-py2.py3-none-any.whl
termcolor==1.1.0
threadpoolctl==3.1.0
toml==0.10.2
tomli==2.0.1
typing-extensions==4.2.0
urllib3==1.26.9
webencodings==0.5.1
Werkzeug==2.1.2
wrapt==1.14.1
zipp==3.8.0
