body {
	background: #122;
	padding: 0;
	margin: 0;
	font-family: Verdana;
}

#form-header {
	text-align: center;
	font-size: 1.5em;
	padding: 10px;
}

#form-content {
	background: #EEE;
	width: 500px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 5px;
	border-radius: 5px;
}

.form-attr {
	margin: 5px;
	font-size: 1.0em;
}

.form-attr-last {
	text-align: center;
	padding-top: 20px;
}

.form-attr-inner {
	width: 480px;
	margin-top: 4px;
}

.form-attr-inner-last {
	height: 2em;
	font-size: 1.2em;
}

#result-box {
	padding: 5px;
}
